openapi: 3.0.1
info:
  title: Loopio
  description: Loopio's Public API
  termsOfService: 'http://loopio.com/termsOfService'
  contact:
    email: support@loopio.com
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  version: 1.0.0
servers:
  - url: 'https://api.loopio.com/data/v2'
    description: Production server for the American datacenter
tags:
  - name: Customers
    description: Get information about Customer instances
  - name: Custom Project Fields
    description: Create and manage Custom Project Fields
  - name: Files
    description: Manage Loopio files
  - name: Library Entries
    description: Create and manage Library Entries
  - name: Projects
    description: Create and manage Projects
  - name: Project Templates
    description: Get Information about Project Templates
  - name: Stacks
    description: View accessible stacks or Library structure
paths:
  '/customers/{customerId}/activeLanguages':
    parameters:
      - $ref: '#/components/parameters/customerId'
    get:
      tags:
        - Customers
      summary: Get all the languages in use in a customer's collection of library entries
      operationId: getCustomerActiveLanguages
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Language'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - loopio_auth:
            - 'customer.info:read'
  '/customers/{customerId}':
    parameters:
      - $ref: '#/components/parameters/customerId'
    get:
      tags:
        - Customers
      summary: Get the id and guid for a given Customer
      operationId: getCustomer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  guid:
                    type: string
                required:
                  - id
                  - guid
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - loopio_auth:
            - 'customer.info:read'
  '/files/{fileId}':
    parameters:
      - $ref: '#/components/parameters/fileId'
    get:
      tags:
        - Files
      summary: Show information about a file
      operationId: showFile
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - loopio_auth:
            - 'file:read'
  '/crm/{opportunityID}/projects':
    parameters:
      - name: opportunityID
        in: path
        required: true
        schema:
          type: string
      - name: crmType
        in: query
        required: true
        schema:
          type: string
          enum:
            - MS_DYNAMICS
            - SALESFORCE
    get:
      tags:
        - CRM
      summary: Get the list of viewable Projects associated with a given CRM Opportunity
      operationId: listCRMProjects
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  projectIDs:
                    type: array
                    items:
                      type: integer
      security:
        - loopio_auth:
            - 'crm:read'
  /libraryEntries:
    get:
      parameters:
        - $ref: '#/components/parameters/Page'
        - name: pageSize
          in: query
          description: The numbers of items to return
          schema:
            type: integer
            minimum: 1
            maximum: 200
            exclusiveMinimum: false
            example: 10
            default: 10
          required: false
        - name: filter
          in: query
          description: Passing in an empty string for language will instead show entries in every language.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibrarySearchOptions'
      tags:
        - Library Entries
      summary: List Library Entries you can interact with
      operationId: listLibraryEntries
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalItems:
                    type: integer
                    example: 100
                  totalPages:
                    type: integer
                    example: 10
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/LibraryEntry'
                required:
                  - totalItems
                  - totalPages
                  - items
              examples:
                example-1:
                  value:
                    totalItems: 100
                    totalPages: 10
                    items:
                      - id: 1744
                        questions:
                          - id: 632
                            text: What is Loopio?
                            complianceOption:
                              id: 1
                              text: 'Yes'
                        answer:
                          text: string
                          footnotes:
                            - id: 124
                              name: 'Loopio Inc is based in Toronto, Canada'
                        languageCode: en
                        creator:
                          id: 1
                          name: name
                        lastUpdatedBy:
                          id: 1
                          name: name
                        lastReviewedBy:
                          id: 1
                          name: name
                        libraryEntryOwner:
                          id: 1
                          name: name
                        attachmentCount: 1
                        createdDate: '2019-05-23T15:32:00Z'
                        lastUpdatedDate: '2019-07-25T18:37:44Z'
                        lastReviewedDate: '2019-05-23T15:32:00Z'
                        status: APPROVED
                        tags:
                          - tag2
                          - tag6
                        scores:
                          time: 10
                          usage: 10
                          freshness: 10
                        InlineImages:
                          items:
                            - id: 123
                              url: abc
                        location:
                          stack:
                            id: 1
                            name: Sales
                          category:
                            id: 1
                            name: North America
                          subCategory:
                            id: 1
                            name: Canada
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - loopio_auth:
            - 'library:read'
  '/libraryEntries/{libraryEntryId}':
    parameters:
      - name: libraryEntryId
        in: path
        description: Library Entry Id
        required: true
        schema:
          type: integer
    get:
      tags:
        - Library Entries
      summary: Get a Library Entry
      parameters:
        - name: 'inline[]'
          in: query
          required: false
          description: '@mergeVariables will substitute Merge Variable placeholders in answer text in the following ways: * Library Merge Variables: will be replaced with their corresponding values with their corresponding values * Project Merge Variables: will be replaced with the variable name in square brackets (e.g. [Client Name])'
          schema:
            type: array
            items:
              type: string
              enum:
                - '@mergeVariables'
          style: form
          explode: true
      operationId: getLibraryEntry
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryEntry'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - loopio_auth:
            - 'library:read'
  '/libraryEntries/{libraryEntryId}/attachments':
    parameters:
      - name: libraryEntryId
        in: path
        description: Library Entry Id
        required: true
        schema:
          type: integer
    get:
      tags:
        - Library Entries
      summary: Get Library Entry's Attachments
      operationId: getLibraryEntryFiles
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/File'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - loopio_auth:
            - 'library:read'
  '/libraryEntryHistories/{libraryEntryId}':
    parameters:
      - name: libraryEntryId
        in: path
        description: Library Entry Id
        required: true
        schema:
          type: integer
    get:
      tags:
        - Library Entries
      summary: Get history of a Library Entry
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      operationId: getLibraryEntryHistories
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalItems:
                    type: integer
                    example: 100
                  totalPages:
                    type: integer
                    example: 10
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/LibraryEntryHistory'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - loopio_auth:
            - 'library:read'
  '/libraryEntryHistories/{libraryEntryId}/{historyId}':
    parameters:
      - name: libraryEntryId
        in: path
        description: Library Entry Id
        required: true
        schema:
          type: integer
      - name: historyId
        in: path
        description: History Id
        required: true
        schema:
          type: integer
    get:
      tags:
        - Library Entries
      summary: Get a specific history item of a Library Entry
      operationId: getLibraryEntryHistory
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryEntryHistory'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - loopio_auth:
            - 'library:read'
  /stacks:
    parameters:
      - name: fields
        in: query
        description: Fields included in response
        schema:
          type: string
          enum:
            - '@wide'
          example: '@wide'
    get:
      tags:
        - Stacks
      summary: List accessible stacks; View full Library structure
      operationId: listStacks
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalItems:
                    type: integer
                    example: 100
                  totalPages:
                    type: integer
                    example: 10
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Stack'
                required:
                  - totalItems
                  - totalPages
                  - items
      security:
        - loopio_auth:
            - 'library:read'
  '/projects/{projectId}/complianceSets':
    parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - Projects
      summary: Get the Compliance Sets for a Project
      description: |-
        Note: Confidential projects are currently not supported via API.

         Note: We are making terminology updates in Loopio - Compliance Sets shall be referred to as Answer Sets. The API will be updated to reflect this change at a later time.
      operationId: getProjectComplianceSets
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ComplianceSet'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
  '/projects/{projectId}/complianceSets/{complianceSetId}':
    parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: integer
      - name: complianceSetId
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - Projects
      summary: Get a Compliance Set for a Project
      description: |-
        Note: Confidential projects are currently not supported via API.

         Note: We are making terminology updates in Loopio - Compliance Sets shall be referred to as Answer Sets.  The API will be updated to reflect this change at a later time.
      operationId: getProjectComplianceSet
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceSet'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  /projects:
    get:
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/RfxTypes'
        - $ref: '#/components/parameters/Owners'
      tags:
        - Projects
      summary: List projects you can interact with
      description: 'Note: Confidential projects are currently not supported via API.'
      operationId: listProjects
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalItems:
                    type: integer
                  totalPages:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Project'
                required:
                  - totalItems
                  - totalPages
                  - items
        '400':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                name: VALIDATION_ERROR
                message: Array has invalid values or Value is not an integer
                debugId: 0fas3
        '403':
          $ref: '#/components/responses/403'
      security:
        - loopio_auth:
            - 'project:read'
  '/projects/{projectId}':
    parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - Projects
      summary: Get a Project's data
      description: 'Note: Confidential projects are currently not supported via API.'
      parameters:
        - name: fields
          in: query
          required: false
          schema:
            type: string
            enum:
              - '@narrow'
              - '@wide'
            default: '@narrow'
      operationId: getProject
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/Project'
                  - $ref: '#/components/schemas/ProjectWide'
              examples:
                '@narrow':
                  $ref: '#/components/examples/ProjectNarrow'
                '@wide':
                  $ref: '#/components/examples/ProjectWide'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          description: Fatal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - loopio_auth:
            - 'project:read'
  '/projects/{projectId}/customProjectFields':
    parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - Projects
        - Custom Project Fields
      summary: Get Custom Project Field values for a given Project
      description: 'Note: Confidential projects are currently not supported via API.'
      operationId: getCustomProjectFieldValuesForProject
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomProjectFieldValuesMap'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - loopio_auth:
            - 'project:read'
  '/projects/{projectId}/summary':
    parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - Projects
      summary: Get the status summary of a Project
      description: 'Note: Confidential projects are currently not supported via API.'
      operationId: getProjectSummary
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectSummary'
        '403':
          $ref: '#/components/responses/403'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                name: RESOURCE_NOT_FOUND
                message: Resource not found
                debugId: 0fas3
        '500':
          description: Fatal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - loopio_auth:
            - 'project:read'
  /projects/summary:
    parameters:
      - name: lastUpdatedDateGt
        in: query
        required: true
        schema:
          type: string
    get:
      tags:
        - Projects
      summary: Get the status summary list of Projects filtered by date last synced
      description: 'Note: Confidential projects are currently not supported via API.'
      operationId: getProjectSummaryList
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalItems:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProjectSummary'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '500':
          description: Fatal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - loopio_auth:
            - 'project:read'
  '/projects/{projectId}/sourceDocuments':
    parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - Projects
        - Files
      summary: View basic information on a Project's source files
      description: 'Note: Confidential projects are currently not supported via API.'
      operationId: listProjectSourceDocuments
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalItems:
                    type: integer
                  totalPages:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProjectSourceFile'
                required:
                  - totalItems
                  - totalPages
                  - items
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - loopio_auth:
            - 'project:read'
  '/projects/{projectId}/participants':
    parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - Projects
      summary: Get the participants for a Project
      description: 'Note: Confidential projects are currently not supported via API.'
      operationId: getProjectParticipants
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ParticipantReference'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - loopio_auth:
            - 'project.participant:read'
  /customProjectFields:
    get:
      tags:
        - Custom Project Fields
      summary: List defined Custom Project Fields
      operationId: listCustomProjectFields
      parameters:
        - name: source
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/CustomProjectFieldInputSource'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomProjectField'
        '403':
          $ref: '#/components/responses/403'
      security:
        - loopio_auth:
            - 'customProjectField:read'
  '/customProjectFields/{id}':
    parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
    get:
      tags:
        - Custom Project Fields
      summary: Get a Custom Project Field
      operationId: getCustomProjectField
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomProjectField'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - loopio_auth:
            - 'customProjectField:read'
  /projectEntries:
    get:
      parameters:
        - $ref: '#/components/parameters/RequiredProjectId'
        - $ref: '#/components/parameters/QueryParamSectionId'
        - $ref: '#/components/parameters/QueryParamSubSectionId'
        - $ref: '#/components/parameters/QueryParamInlineOptions'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      tags:
        - Projects
      summary: List your Project Entries
      description: 'Note: Confidential projects are currently not supported via API.'
      operationId: listProjectEntries
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalItems:
                    type: integer
                    example: 100
                  totalPages:
                    type: integer
                    example: 10
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Entry'
                required:
                  - totalItems
                  - totalPages
                  - items
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
      security:
        - loopio_auth:
            - 'project:read'
  '/projectEntries/{projectEntryId}':
    parameters:
      - $ref: '#/components/parameters/ProjectEntryId'
      - $ref: '#/components/parameters/QueryParamInlineOptions'
    get:
      tags:
        - Projects
      summary: Retrieve a specific Project Entry
      description: 'Note: Confidential projects are currently not supported via API.'
      operationId: getProjectEntry
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entry'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - loopio_auth:
            - 'project:read'
  /sections:
    get:
      parameters:
        - $ref: '#/components/parameters/RequiredProjectId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      tags:
        - Projects
      summary: List your Project sections
      description: 'Note: Confidential projects are currently not supported via API.'
      operationId: listProjectSections
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalItems:
                    type: integer
                    example: 100
                  totalPages:
                    type: integer
                    example: 10
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Section'
                required:
                  - totalItems
                  - totalPages
                  - items
        '400':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                name: VALIDATION_ERROR
                message: Invalid projectId
                debugId: 0fas5
        '403':
          $ref: '#/components/responses/403'
      security:
        - loopio_auth:
            - 'project:read'
  '/sections/{sectionId}':
    get:
      parameters:
        - $ref: '#/components/parameters/SectionId'
      tags:
        - Projects
      summary: Retrieve a specific Project section
      description: 'Note: Confidential projects are currently not supported via API.'
      operationId: getProjectSection
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Section'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - loopio_auth:
            - 'project:read'
  /subSections:
    get:
      parameters:
        - $ref: '#/components/parameters/RequiredProjectId'
        - $ref: '#/components/parameters/QueryParamSectionId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      tags:
        - Projects
      summary: List your Project subSections
      description: 'Note: Confidential projects are currently not supported via API.'
      operationId: listProjectSubSections
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalItems:
                    type: integer
                    example: 100
                  totalPages:
                    type: integer
                    example: 10
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/SubSection'
                required:
                  - totalItems
                  - totalPages
                  - items
        '400':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                name: VALIDATION_ERROR
                message: The project does not exist or has been deleted
                debugId: 0fas5
        '403':
          $ref: '#/components/responses/403'
      security:
        - loopio_auth:
            - 'project:read'
  '/subSections/{subSectionId}':
    get:
      parameters:
        - $ref: '#/components/parameters/SubSectionId'
      tags:
        - Projects
      summary: Retrieve a specific Project subSection
      description: 'Note: Confidential projects are currently not supported via API.'
      operationId: getProjectSubQuestion
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubSection'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - loopio_auth:
            - 'project:read'
  '/webhookSubscriptions/{subscriptionId}':
    parameters:
      - $ref: '#/components/parameters/SubscriptionId'
  '/webhookSubscriptions/{subscriptionId}/signingSecret':
    parameters:
      - $ref: '#/components/parameters/SubscriptionId'
components:
  securitySchemes:
    loopio_auth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: /oauth2/authorize
          tokenUrl: /oauth2/access_token
          scopes:
            'mergeVariable:read': View Merge Variables
            'mergeVariable:write': Create/Edit Merge Variables
            'mergeVariable:delete': Delete Merge Variables
            'crm:read': List CRM opportunities linked to projects
            'crm:write': Link CRM opportunities to projects
            'customer.info:read': View customer information
            'file:read': Download files and view file information
            'file:delete': Delete files
            'library:read': 'List Library Entries and stacks, view Library Entries and Entry data'
            'library:write': Create and update Library Entries and Entry data
            'library:delete': Delete Library Entries
            'project:read': 'List Projects, view Project data and source documents'
            'project:write': 'Create and update Projects, Project data, and source documents'
            'project:delete': Delete a Project
            'project.participant:read': List participants of a project
            'project.participant:write': Update participant information
            'role:read': List user assignable roles
            'user:read': 'List users, view user information'
            'user:write': Update user information
            'webhook:read': View webhook subscriptions
            'webhook:write': Create & edit webhook subscriptions
            'webhook:delete': Delete webhook subscriptions
        clientCredentials:
          tokenUrl: /oauth2/access_token
          scopes:
            'mergeVariable:read': View Merge Variables
            'mergeVariable:write': Create/Edit Merge Variables
            'mergeVariable:delete': Delete Merge Variables
            'crm:read': List CRM opportunities linked to projects
            'crm:write': Link CRM opportunities to projects
            'customer.info:read': View customer information
            'file:read': Download files and view file information
            'file:delete': Delete files
            'library:read': 'List Library Entries and stacks, view Library Entries and Entry data'
            'library:write': Create and update Library Entries and Entry data
            'library:delete': Delete Library Entries
            'project:read': 'List Projects, view Project data and source documents'
            'project:write': 'Create and update Projects, Project data, and source documents'
            'project:delete': Delete a Project
            'project.participant:read': List participants of a project
            'project.participant:write': Update participant information
            'role:read': List user assignable roles
            'user:read': 'List users, view user information'
            'user:write': Update user information
            'webhook:read': View webhook subscriptions
            'webhook:write': Create & edit webhook subscriptions
            'webhook:delete': Delete webhook subscriptions
  schemas:
    Error:
      type: object
      properties:
        name:
          type: string
          enum:
            - FATAL_ERROR
            - FORBIDDEN
            - INVALID_REQUEST
            - NO_PERMISSION
            - RESOURCE_NOT_FOUND
            - UNPROCESSABLE_REQUEST
            - VALIDATION_ERROR
        message:
          type: string
        debugId:
          type: string
    Language:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
          example: English
        languageCode:
          type: string
          enum:
            - da-DK
            - de-DE
            - en-US
            - es-ES
            - fi-FI
            - fr-FR
            - it-IT
            - nl-NL
            - pt-PT
            - ru-RU
            - sv-SE
            - other
        shortLanguageCode:
          type: string
          example: en
    ReferenceLabel:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: name
    File:
      type: object
      properties:
        id:
          type: integer
        filename:
          type: string
        fileExtension:
          type: string
          example: pdf
        status:
          type: string
          enum:
            - AVAILABLE
            - UPLOADING
            - DELETED
        size:
          type: integer
        creator:
          $ref: '#/components/schemas/ReferenceLabel'
        createdDate:
          type: string
          format: date-time
          example: '2019-05-23T15:32:00Z'
        guid:
          type: string
          description: A file's generated unique guid
          example: 2e7a3fd2928111e3adb1a5bcbc7a2f7b
        url:
          type: string
          description: A file's generated unique signed s3 url (This link expires after 10 minutes)
          example: 'https://www.signedUrl.com'
        lastUpdated:
          type: string
          format: date-time
          deprecated: true
        lastUpdatedDate:
          type: string
          format: date-time
          example: '2019-05-23T15:32:00Z'
      required:
        - filename
        - status
        - size
    DateTimeRangeFilter:
      type: object
      minProperties: 1
      example:
        gte: '2020-01-01T00:00:00Z'
      maxProperties: 2
      additionalProperties: false
      properties:
        eq:
          type: string
          format: date-time
          description: Equals to
        gt:
          type: string
          format: date-time
          description: Greater than
        gte:
          type: string
          format: date-time
          description: Greater than or equals to
        lt:
          type: string
          format: date-time
          description: Less than
        lte:
          type: string
          format: date-time
          description: Less than or equals to
    LibraryLocation:
      type: object
      properties:
        stackID:
          type: integer
        categoryID:
          type: integer
          nullable: true
          description: A categoryID should only be set when a stackID is defined
        subCategoryID:
          type: integer
          nullable: true
          description: A subCategoryID value should only be set when a categoryID is defined
      required:
        - stackID
      example:
        stackID: 3
        categoryID: 5
        subCategoryID: 2
    LibrarySearchOptions:
      type: object
      properties:
        lastUpdatedDate:
          $ref: '#/components/schemas/DateTimeRangeFilter'
        language:
          type: string
          example: en
        locations:
          type: array
          items:
            $ref: '#/components/schemas/LibraryLocation'
        searchQuery:
          type: string
          example: What is Loopio?
        synonyms:
          type: boolean
          example: true
          description: Allow searching for synonyms of searchQuery terms.
        exactPhrase:
          type: boolean
          example: false
          description: All searchQuery terms must be present in the given order.
        hasAttachment:
          type: boolean
          example: true
          description: Search for Entries with one or more Attachments
        searchInQuestions:
          type: boolean
          default: true
          example: false
          description: Search within Entry Question text.
        searchInAnswers:
          type: boolean
          default: true
          example: false
          description: Search within Entry Answer text.
        searchInTags:
          type: boolean
          default: true
          example: false
          description: Search within Entry Tags.
      example:
        lastUpdatedDate:
          gte: '2020-01-01T00:00:00Z'
          locations:
            - stackID: 2
              categoryID: 5
          searchQuery: What is Loopio?
          language: en
      minProperties: 1
    Question:
      type: object
      properties:
        id:
          type: integer
          description: Question Id
          example: 632
        text:
          type: string
          description: Question text
          example: What is Loopio?
        complianceOption:
          description: 'Note: we are making terminology updates in Loopio - Compliance Sets shall be referred to as Answer Sets. The API will be updated to reflect this change at a later time.'
          type: object
          nullable: true
          properties:
            id:
              type: integer
              example: 1
            text:
              type: string
              example: 'Yes'
    Footnote:
      type: object
      properties:
        id:
          type: integer
          description: Footnote Id
        text:
          type: string
          description: Footnote text
      example:
        id: 124
        name: 'Loopio Inc is based in Toronto, Canada'
    Answer:
      type: object
      properties:
        text:
          type: string
          nullable: true
          description: Answer text
        footnotes:
          type: array
          items:
            $ref: '#/components/schemas/Footnote'
    LanguageCode:
      type: string
      default: en
      enum:
        - de
        - en
        - es
        - fr
        - pt
        - other
    NullableReferenceLabel:
      type: object
      nullable: true
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: name
    LibraryEntryOwner:
      type: object
      nullable: true
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: John Doe
        initials:
          type: string
          example: JD
    InlineImage:
      type: object
      properties:
        id:
          type: integer
          example: 123
        url:
          type: string
          example: example/inline/image/url
    LibraryEntry:
      type: object
      properties:
        id:
          type: integer
          description: Library Entry Id
          example: 1744
        questions:
          type: array
          items:
            $ref: '#/components/schemas/Question'
        answer:
          $ref: '#/components/schemas/Answer'
        alertText:
          type: string
          nullable: true
          description: Alert Text
        languageCode:
          $ref: '#/components/schemas/LanguageCode'
        creator:
          $ref: '#/components/schemas/ReferenceLabel'
        lastUpdatedBy:
          $ref: '#/components/schemas/ReferenceLabel'
        lastReviewedBy:
          $ref: '#/components/schemas/NullableReferenceLabel'
        libraryEntryOwner:
          $ref: '#/components/schemas/LibraryEntryOwner'
        createdDate:
          type: string
          format: date-time
          example: '2019-05-23T15:32:00Z'
        lastUpdatedDate:
          type: string
          format: date-time
          description: Last time the Library Entry was updated
          example: '2019-07-25T18:37:44Z'
        lastReviewedDate:
          type: string
          format: date-time
          description: Last time the Library Entry was reviewed
          example: '2019-05-23T15:32:00Z'
          nullable: true
        attachmentCount:
          type: integer
          description: Number of attachments a Library Entry has
          example: 1
        status:
          type: string
          enum:
            - REVIEW
            - APPROVED
          description: The current status of the Library Entry
          example: APPROVED
        tags:
          type: array
          example:
            - tag2
            - tag6
          items:
            type: string
        inlineImages:
          type: array
          description: Access URLs for inline images. URLs expire in 10 minutes.
          items:
            $ref: '#/components/schemas/InlineImage'
        scores:
          type: object
          properties:
            time:
              type: integer
              example: 10
            usage:
              type: integer
              example: 10
            freshness:
              type: integer
              example: 10
        location:
          type: object
          properties:
            stack:
              type: object
              properties:
                id:
                  type: integer
                  example: 1
                name:
                  type: string
                  maxLength: 64
                  example: Sales
            category:
              type: object
              nullable: true
              properties:
                id:
                  type: integer
                  example: 1
                name:
                  type: string
                  maxLength: 100
                  example: North America
            subCategory:
              type: object
              nullable: true
              properties:
                id:
                  type: integer
                  example: 1
                name:
                  type: string
                  example: Canada
                  maxLength: 100
    LibraryEntryHistory:
      type: object
      properties:
        id:
          type: integer
          description: Library Entry History Id
          example: 1234
        previousHistoryId:
          type: integer
          description: Previous Library Entry History Id
          example: 1111
          nullable: true
        user:
          type: string
          description: The user who made the change
          example: John Doe
        createdDate:
          type: string
          format: date-time
          example: '2019-05-23T15:32:00Z'
        type:
          type: string
          enum:
            - REVIEW_UPDATE
            - UPDATE
            - CREATE
            - RESTORE
          description: The type of the history item
          example: CREATE
        description:
          type: string
          example: created Entry
        libraryEntry:
          $ref: '#/components/schemas/LibraryEntry'
    SubCategory:
      type: object
      properties:
        id:
          type: integer
          description: SubCategory Id
        stackID:
          type: integer
          description: Stack Id for the Stack it belongs to
        categoryID:
          type: integer
          description: Category Id for the Category it belongs to
        name:
          type: string
          description: SubCategory name
      example:
        id: 2
        stackID: 3
        categoryID: 5
        name: Dev Ops
    Category:
      type: object
      properties:
        id:
          type: integer
          description: Category Id
        stackID:
          type: integer
          description: Stack Id for the Stack the Category belongs to
        name:
          type: string
          description: Category name
        subCategories:
          type: array
          description: List of linked subcategories
          items:
            $ref: '#/components/schemas/SubCategory'
      example:
        id: 5
        stackID: 3
        name: Engineering
    Stack:
      type: object
      properties:
        id:
          type: integer
          description: Stack Id
        name:
          type: string
          description: Stack name
        categories:
          type: array
          description: List of linked Categories
          items:
            $ref: '#/components/schemas/Category'
      example:
        id: 3
        name: Internal Operations
    ComplianceSet:
      type: object
      description: 'Note: we are making terminology updates in Loopio - Compliance Sets shall be referred to as Answer Sets. The API will be updated to reflect this change at a later time.'
      properties:
        id:
          type: integer
        project:
          type: object
          properties:
            id:
              type: integer
          required:
            - id
        label:
          type: string
        shortName:
          type: string
          minLength: 1
        options:
          type: array
          minItems: 1
          items:
            type: object
            properties:
              label:
                type: string
                minLength: 1
            required:
              - label
      required:
        - id
        - project
        - label
        - shortName
        - options
    Project:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        projectType:
          type: string
          nullable: true
          enum:
            - "RFP"
            - "RFI"
            - "DDQ"
            - "SQ"
            - "PP"
            - "OTHER"
            - "null"
        status:
          type: string
          enum:
            - ACTIVE
            - COMPLETE
            - DELETED
            - STOPPED
            - DONE
            - WON
            - LOST
        companyName:
          type: string
        createdDate:
          type: string
          format: date-time
        dueDate:
          type: string
          format: date-time
        owner:
          $ref: '#/components/schemas/ReferenceLabel'
        creator:
          $ref: '#/components/schemas/ReferenceLabel'
        description:
          type: string
    EntryNoProjectId:
      type: object
      properties:
        id:
          type: integer
        question:
          type: string
          minLength: 1
          maxLength: 65535
          nullable: true
        answer:
          type: object
          nullable: true
          properties:
            text:
              type: string
              minLength: 1
              maxLength: 65535
              nullable: true
            complianceAnswers:
              description: 'Note: we are making terminology updates in Loopio - Compliance Sets shall be referred to as Answer Sets. The API will be updated to reflect this change at a later time.'
              type: array
              items:
                type: object
                properties:
                  id:
                    type: integer
                  label:
                    type: string
                  option:
                    type: string
                    nullable: true
                required:
                  - id
                  - label
                  - option
          required:
            - text
            - complianceAnswers
      required:
        - id
        - question
        - answer
    ProjectSubSectionWide:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        questions:
          type: array
          items:
            $ref: '#/components/schemas/EntryNoProjectId'
      required:
        - id
        - name
        - questions
    ProjectSectionWide:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        subSections:
          type: array
          items:
            $ref: '#/components/schemas/ProjectSubSectionWide'
        questions:
          type: array
          items:
            $ref: '#/components/schemas/EntryNoProjectId'
      required:
        - id
        - name
        - subSections
        - questions
    ProjectDocument:
      type: object
      properties:
        file:
          $ref: '#/components/schemas/ReferenceLabel'
        sections:
          type: array
          items:
            $ref: '#/components/schemas/ProjectSectionWide'
      required:
        - file
        - sections
    ProjectWide:
      allOf:
        - $ref: '#/components/schemas/Project'
        - type: object
          properties:
            documents:
              type: array
              items:
                $ref: '#/components/schemas/ProjectDocument'
            sections:
              type: array
              items:
                $ref: '#/components/schemas/ProjectSectionWide'
          required:
            - documents
            - sections
    CustomProjectFieldValuesMap:
      description: A map from Custom Project Field names to values
      type: object
      additionalProperties:
        x-additionalPropertiesName: '{Custom Project Field name}'
        type: string
        nullable: true
        maxLength: 100
      example:
        Opportunity Url: 'https://example.com/CRM/opportunity/abc123'
        Uninitialized field: null
        Amount: '1000'
    ProjectSummary:
      type: object
      properties:
        id:
          type: integer
          description: Project Id
        name:
          type: string
          description: Project Name
        status:
          type: string
          description: Project Status
          enum:
            - ACTIVE
            - DONE
            - DELETED
            - STOPPED
            - WON
            - LOST
        companyName:
          type: string
          description: Company Name
        dueDate:
          type: string
          format: date-time
          example: '2019-05-23T15:32:00Z'
        completedDate:
          type: string
          nullable: true
          format: date-time
          example: '2019-05-23T15:32:00Z'
        owner:
          type: object
          description: Project Owner
          properties:
            id:
              type: integer
              description: User Id
            name:
              type: string
              description: User Name
        description:
          type: string
          description: Project Description
        projectType:
          type: string
          nullable: true
          description: Project Type
          enum:
            - "RFP"
            - "RFI"
            - "DDQ"
            - "SQ"
            - "PP"
            - "OTHER"
            - "null"
        isComplete:
          type: boolean
          description: flag to indicate work is done
        questions:
          type: object
          properties:
            unassigned:
              type: integer
              description: Number of unassigned Project Questions
            assigned:
              type: integer
              description: Number of assigned Project Questions
            review:
              type: integer
              description: Number of Project Questions in review
            complete:
              type: integer
              description: Number of completed Project Questions
            total:
              type: integer
              description: Total number of Project Questions
        workdays:
          type: object
          properties:
            total:
              type: integer
              description: Number of workdays from project creation to project due date.
            elapsed:
              type: integer
              description: Number of workdays elapsed since creation of project.
            left:
              type: integer
              description: Number of workdays left since the start of the project. If project work pass due data this number will be negative to indicate overdue days.
      example:
        id: 1
        name: Project 1
        status: ACTIVE
        companyName: Company 1
        dueDate: '2019-05-23T15:32:00Z'
        owner:
          id: 1
          name: User 1
        description: Project Description
        projectType: RFP
        isComplete: false
        questions:
          unassigned: 3
          assigned: 3
          review: 2
          complete: 1
          total: 9
        workdays:
          total: 10
          left: -2
          elapsed: 12
    ProjectSourceFile:
      allOf:
        - $ref: '#/components/schemas/File'
        - type: object
          properties:
            isImportDocument:
              type: boolean
              default: false
          required:
            - isImportDocument
    ParticipantReference:
      type: object
      properties:
        type:
          type: string
          enum:
            - USER
            - TEAM
          example: USER
        id:
          type: integer
          example: 1
        role:
          type: string
          enum:
            - ADMIN
            - COLLABORATOR
            - ASSIGNEE
          example: ADMIN
        email:
          type: string
          format: email
          nullable: true
          example: user@example.com
          description: Email address when type=USER; null/omitted for TEAM.
        name:
          type: string
          example: John Doe
          nullable: false
          description: User’s full name when type=USER; team name when type=TEAM.
    CustomProjectFieldInputSource:
      type: string
      enum:
        - project
        - salesforce
        - msDynamics
    CustomProjectInputField:
      oneOf:
        - title: Dropdown Input
          type: object
          properties:
            id:
              type: integer
            name:
              type: string
              maxLength: 40
            source:
              type: string
              enum:
                - project
            instructions:
              description: Instructions to the project owner about how this field is intended to be filled out
              type: string
              maxLength: 40
            isRequired:
              type: boolean
            fieldType:
              type: string
              enum:
                - DROPDOWN
            dropdownValues:
              type: array
              items:
                type: string
              minItems: 1
          required:
            - dropdownValues
        - title: Short Text Input
          type: object
          properties:
            id:
              type: integer
            name:
              type: string
              maxLength: 40
            source:
              type: string
              enum:
                - project
            instructions:
              description: Instructions to the project owner about how this field is intended to be filled out
              type: string
              maxLength: 40
            isRequired:
              type: boolean
            fieldType:
              type: string
              enum:
                - SHORT_TEXT
    CustomSalesforceInputField:
      description: Custom Project Input Fields with Salesforce sources are available with a connected Salesforce integration
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
          maxLength: 40
        source:
          type: string
          enum:
            - salesforce
        salesforceField:
          description: The value from Salesforce that populates this Custom Project Field
          type: object
          properties:
            source:
              type: string
              enum:
                - Account
                - Opportunity
            name:
              type: string
        instructions:
          type: string
          maxLength: 40
    CustomMsDynamicsInputField:
      description: Custom Project Input Fields with MsDynamics sources are available with a connected MsDynamics integration
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
          maxLength: 40
        source:
          type: string
          enum:
            - msDynamics
        isRequired:
          type: boolean
        msDynamicsField:
          description: The value from MsDynamics that populates this Custom Project Field
          type: object
          properties:
            entity:
              type: object
              properties:
                logicalName:
                  type: string
                label:
                  type: string
            attribute:
              type: object
              properties:
                logicalName:
                  type: string
                label:
                  type: string
        instructions:
          type: string
          maxLength: 40
    CustomProjectField:
      oneOf:
        - title: Custom Project Field with Project input
          allOf:
            - $ref: '#/components/schemas/CustomProjectInputField'
        - title: Custom Project Field with Salesforce input
          allOf:
            - $ref: '#/components/schemas/CustomSalesforceInputField'
        - title: Custom Project Field with MsDynamics input - IN DEVELOPMENT
          allOf:
            - $ref: '#/components/schemas/CustomMsDynamicsInputField'
    UserOrTeamReference:
      type: object
      properties:
        type:
          type: string
          enum:
            - USER
            - TEAM
          example: USER
        id:
          type: integer
          example: 1
        name:
          type: string
          example: name
        email:
          type: string
          format: email
          nullable: true
          example: user@example.com
          description: Email address when type=USER; null/omitted for TEAM.
    Entry:
      allOf:
        - $ref: '#/components/schemas/EntryNoProjectId'
        - properties:
            inlineImages:
              type: array
              items:
                type: string
            project:
              type: object
              properties:
                id:
                  type: integer
              required:
                - id
            section:
              type: object
              properties:
                id:
                  type: integer
              required:
                - id
            subSection:
              type: object
              properties:
                id:
                  type: integer
                  nullable: true
              required:
                - id
            assignee:
              $ref: '#/components/schemas/UserOrTeamReference'
            reviewer:
              $ref: '#/components/schemas/UserOrTeamReference'
      required:
        - project
    Section:
      type: object
      properties:
        id:
          type: integer
        project:
          type: object
          properties:
            id:
              type: integer
        name:
          type: string
          nullable: true
      required:
        - id
        - project
        - name
    SubSection:
      type: object
      properties:
        id:
          type: integer
        project:
          type: object
          properties:
            id:
              type: integer
          required:
            - id
        section:
          type: object
          properties:
            id:
              type: integer
          required:
            - id
        name:
          type: string
          nullable: true
      required:
        - id
        - project
        - section
        - name
  responses:
    '204':
      description: No Content
    '400':
      description: Invalid Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            name: INVALID_REQUEST
            message: Bad request
            debugId: 0fas3
    '403':
      description: No Permission
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            name: NO_PERMISSION
            message: No permission to access the resource
            debugId: 0fas3
    '404':
      description: Resource Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            name: RESOURCE_NOT_FOUND
            message: Resource not found
            debugId: 0fas3
    '422':
      description: Unprocessable Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            name: UNPROCESSABLE_REQUEST
            message: Unable to process request
            debugId: 0fas3
    '500':
      description: Fatal Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            name: FATAL_ERROR
            message: Something went wrong
            debugId: 0fas3
    AsyncTaskAccepted:
      description: RECEIVED
      content:
        application/json:
          schema:
            type: object
            properties:
              taskId:
                type: integer
    InvalidJSONPatchDocument:
      description: Invalid JSON-Patch document
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            name: INVALID_REQUEST
            message: Invalid JSON-Patch document
            debugId: 0fas3
    UnprocessableJSONPatchRequest:
      description: Unprocessable Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            name: UNPROCESSABLE_REQUEST
            message: Invalid operation on path /some/path
            debugId: 0fas3
    AsyncTaskStatusResponse:
      description: Typical status response of an asynchronous task
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: string
                enum:
                  - PENDING
                  - FAILED
                  - COMPLETE
              result:
                type: string
            required:
              - status
          examples:
            Pending:
              value:
                status: PENDING
            Error:
              value:
                status: FAILED
                result: An unexpected error occurred
            Complete:
              value:
                status: COMPLETE
                result: Task completed successfully
  parameters:
    customerId:
      name: customerId
      in: path
      description: Customer Id
      required: true
      schema:
        type: integer
    fileId:
      name: fileId
      in: path
      required: true
      schema:
        type: integer
    Page:
      name: page
      in: query
      description: Page number
      schema:
        type: integer
        minimum: 1
        exclusiveMinimum: false
        example: 5
        default: 1
      required: false
    PageSize:
      name: pageSize
      in: query
      description: The numbers of items to return
      schema:
        type: integer
        minimum: 1
        exclusiveMinimum: false
        example: 10
        default: 10
      required: false
    RfxTypes:
      name: rfxTypes
      in: query
      schema:
        type: array
        items:
          type: string
          enum:
            - RFP
            - RFI
            - DDQ
            - SQ
            - PP
            - OTHER
      description: This will accept multiple project types values to filter the result
      required: false
    Owners:
      name: owners
      in: query
      schema:
        type: array
        items:
          type: integer
      description: This will accept multiple owners PK to filter the result
      required: false
    RequiredProjectId:
      name: projectId
      in: query
      schema:
        type: integer
      required: true
    QueryParamSectionId:
      name: sectionId
      in: query
      description: Section Id
      required: false
      schema:
        type: integer
        example: 1
    QueryParamSubSectionId:
      name: subSectionId
      in: query
      description: SubSection Id
      required: false
      schema:
        type: integer
        example: 1
    QueryParamInlineOptions:
      name: 'inline[]'
      in: query
      required: false
      description: '@imagePlaceholders will substitute relative URLs in img src attributes with placeholders that contain the corresponding file ID. (e.g. __INLINE_IMAGE_SOURCE__123456)'
      schema:
        type: array
        items:
          type: string
          enum:
            - '@imagePlaceholders'
      style: form
      explode: true
    ProjectEntryId:
      name: projectEntryId
      in: path
      required: true
      schema:
        type: integer
    SectionId:
      name: sectionId
      in: path
      required: true
      schema:
        type: integer
    SubSectionId:
      name: subSectionId
      in: path
      required: true
      schema:
        type: integer
    WebhookContentSignature:
      in: header
      name: X-Loopio-Content-Signature
      description: 'The JSON-encoded body of the request, hashed by the Webhook''s signing secret. See [here](https://support.loopio.com/hc/en-us/articles/4404073215763-How-Do-I-Use-My-Signing-Secret-) for more information.'
      schema:
        type: string
      required: true
    WebhookTimestamp:
      in: header
      name: X-Loopio-Request-Timestamp
      description: Timestamp of when the request was sent
      schema:
        type: integer
      required: true
    SubscriptionId:
      name: subscriptionId
      in: path
      required: true
      schema:
        type: integer
  examples:
    ProjectNarrow:
      value:
        id: 9
        name: Project
        status: ACTIVE
        companyName: Company
        createdDate: '2020-01-01T00:00:00Z'
        dueDate: '2020-01-01T00:00:00Z'
        owner:
          id: 100
          name: John Doe
        creator:
          id: 101
          name: Jane Doe
        description: An example project
    ProjectWide:
      value:
        id: 9
        name: Project
        status: ACTIVE
        companyName: Company
        createdDate: '2020-01-01T00:00:00.000Z'
        dueDate: '2020-01-01T00:00:00.000Z'
        owner:
          id: 100
          name: John Doe
        creator:
          id: 101
          name: Jane Doe
        description: An example project
        documents:
          - file:
              id: 1
              name: Document 1
            sections:
              - id: 1
                name: Section 1
                questions:
                  - id: 1
                    question: Why'd the chicken cross the road?
                    answer: null
                subSections:
                  - id: 1
                    name: SubSection 1.1
                    questions:
                      - id: 2
                        question: Why'd the chicken cross the road?
                        answer:
                          - text: <p><b>Because</b> he could </p>
                          - complianceAnswers:
                              - id: 1
                                label: Label 1
                                option: 'Yes'
                              - id: 2
                                label: Label 2
                                option: A
              - id: 2
                name: Section 2
                questions: []
          - id: 2
            name: Document 2
            sections: []
        sections:
          - id: 3
            name: Section A
            subSections:
              - id: 1
                name: SubSection A.1
                questions:
                  - id: 3
                    question: Why'd the chicken cross the road?
                    answer: null
              - id: 2
                name: SubSection A.2
                questions: []
            questions: []
          - id: 4
            name: Section 4
            subSections: []
            questions:
              - id: 4
                question: Why was 6 afraid of 7?
                answer: null
  callbacks:
    LibraryEntryUpdated:
      '{$request.body#/webhookUrl}':
        post:
          summary: Library Entry Updated
          description: |
            Sent whenever a Library Entry is manually updated by a user.
            This includes editing an entry, reviewing an entry, bulk actions, and search & replace.
          parameters:
            - $ref: '#/components/parameters/WebhookContentSignature'
            - $ref: '#/components/parameters/WebhookTimestamp'
          requestBody:
            required: true
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    event:
                      type: string
                      enum:
                        - libraryEntry.updated
                    context:
                      type: object
                      properties:
                        libraryEntryIds:
                          type: array
                          items:
                            type: integer
                  required:
                    - event
                    - context
          responses:
            '200':
              description: OK
    LibraryReviewAssigned:
      '{$request.body#/webhookUrl}':
        post:
          summary: Library Review Assigned
          description: Sent whenever a Library Review is created and assigned to someone
          parameters:
            - $ref: '#/components/parameters/WebhookContentSignature'
            - $ref: '#/components/parameters/WebhookTimestamp'
          requestBody:
            required: true
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    event:
                      type: string
                      enum:
                        - libraryReview.assigned
                    context:
                      type: object
                      properties:
                        libraryEntryId:
                          type: number
                        reviewId:
                          type: number
                        asignedTo:
                          type: object
                        assignedBy:
                          oneOf:
                            - type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                    - user
                                id:
                                  type: number
                                email:
                                  type: string
                              required:
                                - type
                                - id
                                - email
                            - type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                    - automated_process
                              required:
                                - type
                        dueDate:
                          type: string
                          format: date-time
                          nullable: true
                  required:
                    - event
                    - payload
                    - dueDate
          responses:
            '200':
              description: OK
    ProjectStatusUpdated:
      '{$request.body#/webhookUrl}':
        post:
          summary: Project Status Updated
          description: Sent whenever a Project status has been updated
          parameters:
            - $ref: '#/components/parameters/WebhookContentSignature'
            - $ref: '#/components/parameters/WebhookTimestamp'
          requestBody:
            required: true
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    event:
                      type: string
                      enum:
                        - project.statusChanged
                    context:
                      type: object
                      properties:
                        projectId:
                          type: number
                        status:
                          type: string
                          enum:
                            - ACTIVE
                            - COMPLETE
                            - DELETED
                            - STOPPED
                            - DONE
                            - WON
                            - LOST
                  required:
                    - event
                    - payload
          responses:
            '200':
              description: OK
    ProjectCreated:
      '{$request.body#/webhookUrl}':
        post:
          summary: Project Created
          description: Sent whenever a Project is created.
          parameters:
            - $ref: '#/components/parameters/WebhookContentSignature'
            - $ref: '#/components/parameters/WebhookTimestamp'
          requestBody:
            required: true
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    event:
                      type: string
                      enum:
                        - project.created
                    context:
                      type: object
                      properties:
                        projectId:
                          type: number
                      required:
                        - projectId
                  required:
                    - event
                    - context
          responses:
            '200':
              description: OK