openapi: 3.0.1
info:
  title: Loopio
  description: Loopio's Public API
  termsOfService: 'http://loopio.com/termsOfService'
  contact:
    email: support@loopio.com
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  version: 1.0.0
servers:
  - url: 'https://api.loopio.com/data/v2'
    description: Production server for the American datacenter
  - url: 'https://api.eu.loopio.com/data/v2'
    description: Production server for the European datacenter
tags:
  - name: Asynchronous
    description: An asynchronous endpoint
  - name: Customers
    description: Get information about Customer instances
  - name: Custom Project Fields
    description: Create and manage Custom Project Fields
  - name: Files
    description: Manage Loopio files
  - name: Merge Variables
    description: Reusable Library/Project-wide variables
  - name: Library Entries
    description: Create and manage Library Entries
  - name: Projects
    description: Create and manage Projects
  - name: Project Templates
    description: Get Information about Project Templates
  - name: Stacks
    description: View accessible stacks or Library structure
  - name: Users
    description: Create and manage Users
  - name: Teams
    description: Get Information about Teams
  - name: Webhooks
    description: Create & Manage webhook subscriptions
paths:
  '/customers/{customerId}/activeLanguages':
    parameters:
      - $ref: '#/components/parameters/customerId'
    get:
      tags:
        - Customers
      summary: Get all the languages in use in a customer's collection of library entries
      operationId: getCustomerActiveLanguages
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Language'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - loopio_auth:
            - 'customer.info:read'
  '/customers/{customerId}':
    parameters:
      - $ref: '#/components/parameters/customerId'
    get:
      tags:
        - Customers
      summary: Get the id and guid for a given Customer
      operationId: getCustomer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  guid:
                    type: string
                required:
                  - id
                  - guid
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - loopio_auth:
            - 'customer.info:read'
  '/files/{fileId}':
    parameters:
      - $ref: '#/components/parameters/fileId'
    get:
      tags:
        - Files
      summary: Show information about a file
      operationId: showFile
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - loopio_auth:
            - 'file:read'
    delete:
      tags:
        - Files
      summary: Delete a file
      description: 'If this file is linked with any other Loopio resources, that link will also be deleted'
      operationId: deleteFile
      responses:
        '204':
          $ref: '#/components/responses/204'
        '403':
          $ref: '#/components/responses/403'
      security:
        - loopio_auth:
            - 'file:delete'
  '/crm/{opportunityID}/projects':
    parameters:
      - name: opportunityID
        in: path
        required: true
        schema:
          type: string
      - name: crmType
        in: query
        required: true
        schema:
          type: string
          enum:
            - MS_DYNAMICS
            - SALESFORCE
    get:
      tags:
        - CRM
      summary: Get the list of viewable Projects associated with a given CRM Opportunity
      operationId: listCRMProjects
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  projectIDs:
                    type: array
                    items:
                      type: integer
      security:
        - loopio_auth:
            - 'crm:read'
  /libraryEntries:
    get:
      parameters:
        - $ref: '#/components/parameters/Page'
        - name: pageSize
          in: query
          description: The numbers of items to return
          schema:
            type: integer
            minimum: 1
            maximum: 200
            exclusiveMinimum: false
            example: 10
            default: 10
          required: false
        - name: filter
          in: query
          description: Passing in an empty string for language will instead show entries in every language.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibrarySearchOptions'
      tags:
        - Library Entries
      summary: List Library Entries you can interact with
      operationId: listLibraryEntries
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalItems:
                    type: integer
                    example: 100
                  totalPages:
                    type: integer
                    example: 10
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/LibraryEntry'
                required:
                  - totalItems
                  - totalPages
                  - items
              examples:
                example-1:
                  value:
                    totalItems: 100
                    totalPages: 10
                    items:
                      - id: 1744
                        questions:
                          - id: 632
                            text: What is Loopio?
                            complianceOption:
                              id: 1
                              text: 'Yes'
                        answer:
                          text: string
                          footnotes:
                            - id: 124
                              name: 'Loopio Inc is based in Toronto, Canada'
                        languageCode: en
                        creator:
                          id: 1
                          name: name
                        lastUpdatedBy:
                          id: 1
                          name: name
                        lastReviewedBy:
                          id: 1
                          name: name
                        libraryEntryOwner:
                          id: 1
                          name: name
                        attachmentCount: 1
                        createdDate: '2019-05-23T15:32:00Z'
                        lastUpdatedDate: '2019-07-25T18:37:44Z'
                        lastReviewedDate: '2019-05-23T15:32:00Z'
                        status: APPROVED
                        tags:
                          - tag2
                          - tag6
                        scores:
                          time: 10
                          usage: 10
                          freshness: 10
                        InlineImages:
                          items:
                            - id: 123
                              url: abc
                        location:
                          stack:
                            id: 1
                            name: Sales
                          category:
                            id: 1
                            name: North America
                          subCategory:
                            id: 1
                            name: Canada
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - loopio_auth:
            - 'library:read'
    post:
      tags:
        - Library Entries
      summary: Create a Library Entry
      description: |-
        Answer text for an Entry can be null if its Questions have Compliance Answers.
        Note: we are making terminology updates in Loopio - Compliance Sets shall be referred to as Answer Sets. The API will be updated to reflect this change at a later time.
      operationId: createLibraryEntry
      requestBody:
        description: 'Library entry to create. __Warning:__ This does not currently support creating library entries with merge variables in the answer text.'
        content:
          application/json:
            schema:
              type: object
              properties:
                questions:
                  type: array
                  items:
                    type: object
                    properties:
                      text:
                        type: string
                        description: Question text. Surrounding white space will be trimmed  before checking the length against a minLength parameter.
                        example: What is Loopio?
                        minLength: 1
                        maxLength: 65535
                      complianceOption:
                        type: object
                        nullable: true
                        properties:
                          text:
                            type: string
                            example: 'Yes'
                            minLength: 1
                            maxLength: 45
                            nullable: true
                    required:
                      - text
                  minItems: 1
                  description: A question and possible variations which utilize the same answer
                answer:
                  type: object
                  properties:
                    text:
                      type: string
                      nullable: true
                      maxLength: 65535
                      example: Loopio is RFP response software
                  required:
                    - text
                languageCode:
                  $ref: '#/components/schemas/LanguageCode'
                location:
                  type: object
                  properties:
                    stackID:
                      type: integer
                    categoryID:
                      type: integer
                    subCategoryID:
                      type: integer
                      description: A subCategoryID value should only be set when a categoryID is defined
                  required:
                    - stackID
                tags:
                  type: array
                  items:
                    type: string
                    maxLength: 100
                    example: company overview
              required:
                - questions
                - answer
                - location
        required: true
      responses:
        '201':
          description: CREATED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryEntry'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
      security:
        - loopio_auth:
            - 'library:write'
  /libraryEntries/bulk:
    post:
      tags:
        - Library Entries
        - Asynchronous
      summary: Bulk create Library Entries
      description: |-
        Answer text for an Entry can be null if its Questions have Compliance Answers.
        Note: we are making terminology updates in Loopio - Compliance Sets shall be referred to as Answer Sets. The API will be updated to reflect this change at a later time.
      operationId: bulkCreateLibraryEntries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                createMissingLocations:
                  type: boolean
                  default: false
                entries:
                  type: array
                  minItems: 1
                  maxItems: 500
                  items:
                    $ref: '#/components/schemas/LibraryEntryBulk'
              required:
                - entries
      responses:
        '202':
          $ref: '#/components/responses/AsyncTaskAccepted'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
      security:
        - loopio_auth:
            - 'library:write'
  '/libraryEntries/{libraryEntryId}':
    parameters:
      - name: libraryEntryId
        in: path
        description: Library Entry Id
        required: true
        schema:
          type: integer
    get:
      tags:
        - Library Entries
      summary: Get a Library Entry
      parameters:
        - name: 'inline[]'
          in: query
          required: false
          description: '@mergeVariables will substitute Merge Variable placeholders in answer text in the following ways: * Library Merge Variables: will be replaced with their corresponding values with their corresponding values * Project Merge Variables: will be replaced with the variable name in square brackets (e.g. [Client Name])'
          schema:
            type: array
            items:
              type: string
              enum:
                - '@mergeVariables'
          style: form
          explode: true
      operationId: getLibraryEntry
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryEntry'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - loopio_auth:
            - 'library:read'
    patch:
      tags:
        - Library Entries
      summary: Update core properties of a Library Entry
      operationId: updateLibraryEntry
      requestBody:
        description: |-
          Library Entry properties to set. __Warning:__ Updating answer text with merge variables will remove the merge variable.
          Note: we are making terminology updates in Loopio - Compliance Sets shall be referred to as Answer Sets. The API will be updated to reflect this change at a later time.
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/JsonPatch'
            examples:
              Change answer and tags:
                value:
                  - op: replace
                    path: /answer/text
                    value: new answer
                  - op: add
                    path: /tags/-
                    value: new tag
              Move Entry:
                value:
                  - op: replace
                    path: /location
                    value:
                      stackId: 7
                      categoryId: null
                      subCategoryId: null
              Manage questions:
                value:
                  - op: replace
                    path: /questions/1/text
                    value: better question text
                  - op: add
                    path: /questions/-
                    value:
                      text: new question
                      complianceOption: null
                  - op: move
                    from: /questions/2
                    path: /questions/0
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryEntry'
        '400':
          $ref: '#/components/responses/InvalidJSONPatchDocument'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/UnprocessableJSONPatchRequest'
      security:
        - loopio_auth:
            - 'library:write'
    delete:
      tags:
        - Library Entries
      operationId: deleteLibraryEntry
      responses:
        '204':
          description: No Content
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - loopio_auth:
            - 'library:delete'
  '/libraryEntries/{libraryEntryId}/attachments':
    parameters:
      - name: libraryEntryId
        in: path
        description: Library Entry Id
        required: true
        schema:
          type: integer
    get:
      tags:
        - Library Entries
      summary: Get Library Entry's Attachments
      operationId: getLibraryEntryFiles
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/File'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - loopio_auth:
            - 'library:read'
  '/libraryEntryHistories/{libraryEntryId}':
    parameters:
      - name: libraryEntryId
        in: path
        description: Library Entry Id
        required: true
        schema:
          type: integer
    get:
      tags:
        - Library Entries
      summary: Get history of a Library Entry
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      operationId: getLibraryEntryHistories
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalItems:
                    type: integer
                    example: 100
                  totalPages:
                    type: integer
                    example: 10
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/LibraryEntryHistory'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - loopio_auth:
            - 'library:read'
  '/libraryEntryHistories/{libraryEntryId}/{historyId}':
    parameters:
      - name: libraryEntryId
        in: path
        description: Library Entry Id
        required: true
        schema:
          type: integer
      - name: historyId
        in: path
        description: History Id
        required: true
        schema:
          type: integer
    get:
      tags:
        - Library Entries
      summary: Get a specific history item of a Library Entry
      operationId: getLibraryEntryHistory
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryEntryHistory'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - loopio_auth:
            - 'library:read'
  /stacks:
    parameters:
      - name: fields
        in: query
        description: Fields included in response
        schema:
          type: string
          enum:
            - '@wide'
          example: '@wide'
    get:
      tags:
        - Stacks
      summary: List accessible stacks; View full Library structure
      operationId: listStacks
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalItems:
                    type: integer
                    example: 100
                  totalPages:
                    type: integer
                    example: 10
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Stack'
                required:
                  - totalItems
                  - totalPages
                  - items
      security:
        - loopio_auth:
            - 'library:read'
  '/asyncTasks/mergeVariableDelete/{taskId}':
    parameters:
      - name: taskId
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - Asynchronous
        - Merge Variables
      summary: Get the status of Merge Variable deletion request
      operationId: getMegeVariableDeleteStatus
      responses:
        '200':
          $ref: '#/components/responses/AsyncTaskStatusResponse'
        '404':
          $ref: '#/components/responses/404'
  /mergeVariables:
    get:
      tags:
        - Merge Variables
      summary: List defined Merge Variables
      operationId: listMergeVariables
      parameters:
        - name: type
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/MergeVariableType'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MergeVariable'
        '403':
          $ref: '#/components/responses/403'
      security:
        - loopio_auth:
            - 'mergeVariable:read'
    post:
      tags:
        - Merge Variables
      summary: Create a new Merge Variable
      operationId: createMergeVariable
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - title: Library Merge Variable
                  type: object
                  properties:
                    name:
                      type: string
                      maxLength: 64
                    value:
                      type: string
                      maxLength: 200
                      nullable: true
                    description:
                      type: string
                      maxLength: 100
                      nullable: true
                    type:
                      type: string
                      enum:
                        - library
                  required:
                    - name
                    - value
                    - description
                    - type
                - title: Project Merge Variable
                  type: object
                  properties:
                    name:
                      type: string
                      maxLength: 64
                    description:
                      type: string
                      maxLength: 100
                      nullable: true
                    type:
                      type: string
                      enum:
                        - project
                  required:
                    - name
                    - description
                    - type
      responses:
        '201':
          description: CREATED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MergeVariable'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '422':
          $ref: '#/components/responses/422'
      security:
        - loopio_auth:
            - 'mergeVariable:write'
  '/mergeVariables/{id}':
    parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
    get:
      tags:
        - Merge Variables
      summary: Get a Merge Variable
      operationId: getMergeVariable
      parameters:
        - in: query
          name: fields
          description: Fields included in response
          required: false
          schema:
            type: string
            enum:
              - '@narrow'
              - '@wide'
            default: '@narrow'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                anyOf:
                  - title: '@narrow'
                    allOf:
                      - $ref: '#/components/schemas/MergeVariable'
                  - title: '@wide'
                    allOf:
                      - $ref: '#/components/schemas/MergeVariableWide'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - loopio_auth:
            - 'mergeVariable:read'
    patch:
      tags:
        - Merge Variables
      summary: Update a Merge Variable
      operationId: updateMergeVariable
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                oneOf:
                  - title: Set name
                    type: object
                    properties:
                      op:
                        type: string
                        enum:
                          - replace
                      path:
                        type: string
                        enum:
                          - /name
                      value:
                        type: string
                        maxLength: 64
                    required:
                      - op
                      - path
                      - value
                  - title: Set description
                    type: object
                    properties:
                      op:
                        type: string
                        enum:
                          - replace
                      path:
                        type: string
                        enum:
                          - /description
                      value:
                        type: string
                        maxLength: 100
                    required:
                      - op
                      - path
                      - value
                  - title: Set value
                    description: 'Note: only valid for Library Merge Variables'
                    type: object
                    properties:
                      op:
                        type: string
                        enum:
                          - replace
                      path:
                        type: string
                        enum:
                          - /value
                      value:
                        type: string
                        maxLength: 200
                    required:
                      - op
                      - path
                      - value
                  - title: Convert to a Project Merge Variable
                    description: 'Note: this will remove the Variable''s current value'
                    properties:
                      op:
                        type: string
                        enum:
                          - replace
                      path:
                        type: string
                        enum:
                          - /value
                      value:
                        type: string
                        maxLength: 200
                    required:
                      - op
                      - path
                      - value
                  - title: Convert to a Project Merge Variable
                    description: 'Note: this will remove the Variable''s current value'
                    properties:
                      op:
                        type: string
                        enum:
                          - replace
                      path:
                        type: string
                        enum:
                          - /type
                      value:
                        type: string
                        enum:
                          - project
                    required:
                      - op
                      - path
                      - value
                  - title: Convert to a Library Merge Variable
                    description: 'Note: forces the variable''s type to "library"'
                    type: object
                    properties:
                      op:
                        type: string
                        enum:
                          - add
                      path:
                        type: string
                        enum:
                          - /value
                      value:
                        type: string
                        maxLength: 200
                    required:
                      - op
                      - path
                      - value
              minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MergeVariable'
        '400':
          $ref: '#/components/responses/InvalidJSONPatchDocument'
        '403':
          $ref: '#/components/responses/403'
        '422':
          $ref: '#/components/responses/UnprocessableJSONPatchRequest'
      security:
        - loopio_auth:
            - 'mergeVariable:write'
    delete:
      tags:
        - Merge Variables
      summary: Delete a Merge Variable
      operationId: deleteMergeVariable
      responses:
        '202':
          $ref: '#/components/responses/AsyncTaskAccepted'
        '403':
          $ref: '#/components/responses/403'
      security:
        - loopio_auth:
            - 'mergeVariable:delete'
  '/mergeVariables/{id}/history':
    parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
    get:
      tags:
        - Merge Variables
      summary: Get a Merge Variable's history
      operationId: getMergeVariableHistory
      parameters:
        - in: query
          name: ordering
          description: Return history in ascending or descending order by update time
          schema:
            type: string
            enum:
              - newestFirst
              - oldestFirst
            default: newestFirst
          required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MergeVariableChange'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - loopio_auth:
            - 'mergeVariable:read'
  '/projects/{projectId}/complianceSets':
    parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - Projects
      summary: Get the Compliance Sets for a Project
      description: |-
        Note: Confidential projects are currently not supported via API.

         Note: We are making terminology updates in Loopio - Compliance Sets shall be referred to as Answer Sets. The API will be updated to reflect this change at a later time.
      operationId: getProjectComplianceSets
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ComplianceSet'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
    post:
      tags:
        - Projects
      summary: Create a Compliance Set for a Project
      description: |-
        Note: Confidential projects are currently not supported via API.

         Note: We are making terminology updates in Loopio - Compliance Sets shall be referred to as Answer Sets. The API will be updated to reflect this change at a later time.
      operationId: createComplianceSet
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: string
                  maxLength: 255
                options:
                  description: The list of options must be unique. Option labels will have their whitespace trimmed.
                  type: array
                  items:
                    $ref: '#/components/schemas/ComplianceOption'
              required:
                - options
      responses:
        '201':
          description: CREATED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceSet'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
  '/projects/{projectId}/complianceSets/{complianceSetId}':
    parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: integer
      - name: complianceSetId
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - Projects
      summary: Get a Compliance Set for a Project
      description: |-
        Note: Confidential projects are currently not supported via API.

         Note: We are making terminology updates in Loopio - Compliance Sets shall be referred to as Answer Sets.  The API will be updated to reflect this change at a later time.
      operationId: getProjectComplianceSet
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceSet'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    put:
      tags:
        - Projects
      summary: Update a Compliance Set for a Project
      description: |-
        Note: Confidential projects are currently not supported via API.

         Note: We are making terminology updates in Loopio - Compliance Sets shall be referred to as Answer Sets. The API will be updated to reflect this change at a later time.
      operationId: updateProjectComplianceSet
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: string
                  maxLength: 255
                options:
                  description: The list of options must be unique. Option labels will have their whitespace trimmed.
                  type: array
                  minLength: 1
                  items:
                    $ref: '#/components/schemas/ComplianceOption'
              required:
                - label
                - options
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceSet'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    delete:
      tags:
        - Projects
      summary: Delete a Compliance Set for a Project
      description: |-
        Note: Confidential projects are currently not supported via API.

         Note: We are making terminology updates in Loopio - Compliance Sets shall be referred to as Answer Sets. The API will be updated to reflect this change at a later time.
      operationId: deleteProjectComplianceSet
      responses:
        '204':
          $ref: '#/components/responses/204'
        '403':
          $ref: '#/components/responses/403'
  /projects:
    get:
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/RfxTypes'
        - $ref: '#/components/parameters/Owners'
      tags:
        - Projects
      summary: List projects you can interact with
      description: 'Note: Confidential projects are currently not supported via API.'
      operationId: listProjects
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalItems:
                    type: integer
                  totalPages:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Project'
                required:
                  - totalItems
                  - totalPages
                  - items
        '400':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                name: VALIDATION_ERROR
                message: Array has invalid values or Value is not an integer
                debugId: 0fas3
        '403':
          $ref: '#/components/responses/403'
      security:
        - loopio_auth:
            - 'project:read'
    post:
      tags:
        - Projects
      summary: Create a project
      operationId: createProject
      requestBody:
        description: Project to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequestBody'
        required: true
      responses:
        '201':
          description: CREATED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                name: VALIDATION_ERROR
                message: You must provide a valid owner for the Project
                debugId: 0fas3
        '403':
          $ref: '#/components/responses/403'
      security:
        - loopio_auth:
            - 'project:write'
  '/projects/{projectId}':
    parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - Projects
      summary: Get a Project's data
      description: 'Note: Confidential projects are currently not supported via API.'
      parameters:
        - name: fields
          in: query
          required: false
          schema:
            type: string
            enum:
              - '@narrow'
              - '@wide'
            default: '@narrow'
      operationId: getProject
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/Project'
                  - $ref: '#/components/schemas/ProjectWide'
              examples:
                '@narrow':
                  $ref: '#/components/examples/ProjectNarrow'
                '@wide':
                  $ref: '#/components/examples/ProjectWide'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          description: Fatal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - loopio_auth:
            - 'project:read'
    put:
      tags:
        - Projects
      summary: Update a Project's status
      description: 'Note: Confidential projects are currently not supported via API.'
      operationId: updateProject
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                    - ACTIVE
                    - WON
                    - LOST
                    - DONE
                    - STOPPED
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
              example:
                value:
                  id: 9
                  name: Project
                  status: ACTIVE
                  companyName: Company
                  createdDate: '2020-01-01T00:00:00Z'
                  dueDate: '2020-01-01T00:00:00Z'
                  owner:
                    id: 100
                    name: John Doe
                  creator:
                    id: 101
                    name: Jane Doe
                  description: An example project
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - loopio_auth:
            - 'project:write'
    delete:
      tags:
        - Projects
      summary: Delete a Project and its data
      description: 'Note: Confidential projects are currently not supported via API.'
      operationId: deleteProject
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
      security:
        - loopio_auth:
            - 'project:delete'
  '/projects/{projectId}/customProjectFields':
    parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - Projects
        - Custom Project Fields
      summary: Get Custom Project Field values for a given Project
      description: 'Note: Confidential projects are currently not supported via API.'
      operationId: getCustomProjectFieldValuesForProject
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomProjectFieldValuesMap'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - loopio_auth:
            - 'project:read'
    patch:
      tags:
        - Projects
        - Custom Project Fields
      summary: Edit Custom Project Field values for a given Project
      description: 'Note: Confidential projects are currently not supported via API.'
      operationId: setCustomProjectFieldValuesForProject
      requestBody:
        description: '**Note**: Unlike most PATCH operations in this API, this operation does not use the JSON-Patch format. The request body must take the form of a basic key-value update object, where key is the name of the Custom Project Field. The value of a Custom Project Field cannot be updated to null'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomProjectFieldPatchValuesMap'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomProjectFieldValuesMap'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
      security:
        - loopio_auth:
            - 'project:write'
  '/projects/{projectId}/mergeVariables':
    parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - Projects
        - Merge Variables
      summary: Get Project Merge Variable values for a Project
      description: 'Note: Confidential projects are currently not supported via API.'
      operationId: getMergeVariableValuesForProject
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MergeVariableProjectValuesMap'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - loopio_auth:
            - 'project:read'
            - 'mergeVariable:read'
    patch:
      tags:
        - Projects
        - Merge Variables
      summary: Edit the values of Project Merge Variables for a Project
      description: 'Note: Confidential projects are currently not supported via API.'
      operationId: setMergeVariableValuesForProject
      requestBody:
        description: '**Note**: Unlike most PATCH operations in this API, this operation does not use the JSON-Patch format. The request body must take the form of a basic key-value update object'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MergeVariableProjectValuesMap'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MergeVariableProjectValuesMap'
        '400':
          $ref: '#/components/responses/InvalidJSONPatchDocument'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/UnprocessableJSONPatchRequest'
      security:
        - loopio_auth:
            - 'project:write'
            - 'mergeVariable:write'
  '/projects/{projectId}/summary':
    parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - Projects
      summary: Get the status summary of a Project
      description: 'Note: Confidential projects are currently not supported via API.'
      operationId: getProjectSummary
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectSummary'
        '403':
          $ref: '#/components/responses/403'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                name: RESOURCE_NOT_FOUND
                message: Resource not found
                debugId: 0fas3
        '500':
          description: Fatal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - loopio_auth:
            - 'project:read'
  /projects/summary:
    parameters:
      - name: lastUpdatedDateGt
        in: query
        required: true
        schema:
          type: string
    get:
      tags:
        - Projects
      summary: Get the status summary list of Projects filtered by date last synced
      description: 'Note: Confidential projects are currently not supported via API.'
      operationId: getProjectSummaryList
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalItems:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProjectSummary'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '500':
          description: Fatal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - loopio_auth:
            - 'project:read'
  '/projects/{projectId}/sourceDocuments':
    parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: integer
    post:
      tags:
        - Projects
        - Files
      summary: Attach a source document to a Loopio Project
      description: 'Note: Confidential projects are currently not supported via API.'
      operationId: addProjectSourceDocument
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                document:
                  type: string
                  description: The file to upload.
                  format: binary
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  fileId:
                    type: integer
                  resourceURI:
                    type: string
                    example: /data/v2/files/0
                required:
                  - fileId
                  - resourceURI
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '503':
          description: Could not save file
          content:
            application/json:
              schema:
                type: object
      security:
        - loopio_auth:
            - 'project:write'
    get:
      tags:
        - Projects
        - Files
      summary: View basic information on a Project's source files
      description: 'Note: Confidential projects are currently not supported via API.'
      operationId: listProjectSourceDocuments
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalItems:
                    type: integer
                  totalPages:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProjectSourceFile'
                required:
                  - totalItems
                  - totalPages
                  - items
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - loopio_auth:
            - 'project:read'
  '/projects/{projectId}/opportunityLink':
    parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: integer
    post:
      tags:
        - Projects
        - CRM
      summary: Link a Loopio Project and CRM Opportunity
      description: 'Note: Confidential projects are currently not supported via API.'
      operationId: createOpportunityLink
      requestBody:
        content:
          application/json:
            schema:
              required:
                - type
                - opportunityId
              type: object
              properties:
                opportunityId:
                  description: Accepts a 15 or 18 digit Salesforce ID or a Dynamics UUID
                  oneOf:
                    - type: string
                      pattern: '[a-zA-Z0-9]{18}|[a-zA-Z0-9]{15}'
                    - type: string
                      format: uuid
                  example:
                    - 123e4567-e89b-12d3-a456-426652340000
                    - 0063J000002e7A8QAI
                type:
                  type: string
                  enum:
                    - SALESFORCE
                    - MS_DYNAMICS
            examples:
              Salesforce:
                value:
                  type: SALESFORCE
                  opportunityId: 0063J000002e7A8QAI
                summary: Salesforce opportunity IDs are 15 or 18 character alphanumeric strings
              Dynamics:
                value:
                  type: MS_DYNAMICS
                  opportunityId: 123e4567-e89b-12d3-a456-426652340000
                summary: Microsoft Dynamics opportunity IDs use the UUID format
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  projectId:
                    type: integer
                  opportunityId:
                    type: string
              examples:
                Salesforce:
                  value:
                    projectId: 123
                    opportunityId: 0063J000002e7A8QAI
                Dynamics:
                  value:
                    projectId: 123
                    opportunityId: 123e4567-e89b-12d3-a456-426652340000
        '400':
          description: Invalid Opportunity
          content:
            application/json:
              schema:
                type: object
        '403':
          $ref: '#/components/responses/403'
        '422':
          $ref: '#/components/responses/422'
      security:
        - loopio_auth:
            - 'crm:write'
  '/projects/{projectId}/participants':
    parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - Projects
      summary: Get the participants for a Project
      description: 'Note: Confidential projects are currently not supported via API.'
      operationId: getProjectParticipants
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ParticipantReference'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - loopio_auth:
            - 'project.participant:read'
    put:
      tags:
        - Projects
      summary: Update the participants for a Project
      description: 'Note: Confidential projects are currently not supported via API.'
      operationId: updateProjectParticipants
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ParticipantReference'
      responses:
        '200':
          description: UPDATED
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ParticipantReference'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
      security:
        - loopio_auth:
            - 'project.participant:write'
  '/projectTemplates/{projectTemplateId}/projects':
    parameters:
      - name: projectTemplateId
        in: path
        required: true
        schema:
          type: integer
    post:
      tags:
        - Projects
      summary: Create a project using a template (This creates an async task to execute this operation)
      description: 'Returns a taskId and a projectId. Make a GET request to /asyncTasks/{taskId}/projectTemplateCopy to find the status of the task.'
      operationId: createProjectFromTemplate
      requestBody:
        description: Project to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequestBody'
        required: true
      responses:
        '202':
          description: |-
            ACCEPTED

            **Note**: Although **projectId** is provided in the response, any interaction with the project (e.g. attaching documents, adding entries, adding sections, and any other action that alters its structure or content) is not guaranteed to work properly until the task is completed. The status of the task can be verified [here.](https://developer.loopio.com/docs/loopio-api/704e4445340fc-get-the-status-of-a-create-project-from-template-async-task)
          content:
            application/json:
              schema:
                type: object
                properties:
                  taskId:
                    type: integer
                  projectId:
                    type: integer
                required:
                  - taskId
                  - projectId
        '400':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                name: VALIDATION_ERROR
                message: You must provide a valid owner for the Project
                debugId: 0fas3
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - loopio_auth:
            - 'project:write'
  /projectTemplates:
    get:
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      tags:
        - Project Templates
      summary: Get a list of published project templates
      operationId: listProjectTemplates
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalItems:
                    type: integer
                  totalPages:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProjectTemplate'
        '400':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                name: VALIDATION_ERROR
                message: 'Error at ''$.page'': Integer must be at least 1'
                debugId: 0fas3
        '403':
          $ref: '#/components/responses/403'
      security:
        - loopio_auth:
            - 'project:read'
  /customProjectFields:
    get:
      tags:
        - Custom Project Fields
      summary: List defined Custom Project Fields
      operationId: listCustomProjectFields
      parameters:
        - name: source
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/CustomProjectFieldInputSource'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomProjectField'
        '403':
          $ref: '#/components/responses/403'
      security:
        - loopio_auth:
            - 'customProjectField:read'
    post:
      tags:
        - Custom Project Fields
      summary: Create a new Custom Project Field
      operationId: createCustomProjectField
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/CustomProjectFieldDropdownFieldType'
                - $ref: '#/components/schemas/CustomProjectFieldShortTextFieldType'
                - $ref: '#/components/schemas/CustomMsDynamicsInputField'
      responses:
        '201':
          description: CREATED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomProjectField'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '422':
          $ref: '#/components/responses/422'
      security:
        - loopio_auth:
            - 'customProjectField:write'
  '/customProjectFields/{id}':
    parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
    get:
      tags:
        - Custom Project Fields
      summary: Get a Custom Project Field
      operationId: getCustomProjectField
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomProjectField'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - loopio_auth:
            - 'customProjectField:read'
    patch:
      tags:
        - Custom Project Fields
      summary: Update a Custom Project Field
      operationId: updateCustomProjectField
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                oneOf:
                  - title: Set name
                    type: object
                    properties:
                      op:
                        type: string
                        enum:
                          - replace
                      path:
                        type: string
                        enum:
                          - /name
                      value:
                        type: string
                        maxLength: 40
                    required:
                      - op
                      - path
                      - value
                  - title: Set instructions
                    type: object
                    properties:
                      op:
                        type: string
                        enum:
                          - replace
                      path:
                        type: string
                        enum:
                          - /instructions
                      value:
                        type: string
                        maxLength: 40
                    required:
                      - op
                      - path
                      - value
                  - title: Set isRequired
                    type: object
                    properties:
                      op:
                        type: string
                        enum:
                          - replace
                      path:
                        type: string
                        enum:
                          - /isRequired
                      value:
                        type: boolean
                    required:
                      - op
                      - path
                      - value
                  - title: Set dropdown values
                    type: object
                    properties:
                      op:
                        type: string
                        enum:
                          - replace
                      path:
                        type: string
                        enum:
                          - /dropdownValues
                      value:
                        type: array
                        items:
                          type: string
                          maxLength: 40
                        minLength: 1
                        uniqueItems: true
                    required:
                      - op
                      - path
                      - value
                  - title: Set field type
                    description: Operation to update dropdownValues is required when updating field type to DROPDOWN
                    type: object
                    properties:
                      op:
                        type: string
                        enum:
                          - replace
                      path:
                        type: string
                        enum:
                          - /fieldType
                      value:
                        type: string
                        default: SHORT_TEXT
                        enum:
                          - SHORT_TEXT
                          - DROPDOWN
                    required:
                      - op
                      - path
                      - value
              minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomProjectField'
        '400':
          $ref: '#/components/responses/InvalidJSONPatchDocument'
        '403':
          $ref: '#/components/responses/403'
        '422':
          $ref: '#/components/responses/UnprocessableJSONPatchRequest'
      security:
        - loopio_auth:
            - 'customProjectField:write'
    delete:
      tags:
        - Custom Project Fields
      summary: Delete a Custom Project Field
      operationId: deleteCustomProjectField
      responses:
        '204':
          $ref: '#/components/responses/204'
        '403':
          $ref: '#/components/responses/403'
      security:
        - loopio_auth:
            - 'customProjectField:delete'
  /projectEntries:
    get:
      parameters:
        - $ref: '#/components/parameters/RequiredProjectId'
        - $ref: '#/components/parameters/QueryParamSectionId'
        - $ref: '#/components/parameters/QueryParamSubSectionId'
        - $ref: '#/components/parameters/QueryParamInlineOptions'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      tags:
        - Projects
      summary: List your Project Entries
      description: 'Note: Confidential projects are currently not supported via API.'
      operationId: listProjectEntries
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalItems:
                    type: integer
                    example: 100
                  totalPages:
                    type: integer
                    example: 10
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Entry'
                required:
                  - totalItems
                  - totalPages
                  - items
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
      security:
        - loopio_auth:
            - 'project:read'
    post:
      tags:
        - Projects
      summary: Create a new Project Entry
      description: |-
        Create a new Project Entry.
        In addition to the projectId, one of either the sectionId or subSectionId must be provided, but not both. Note: Confidential projects are currently not supported via API.
      operationId: createProjectEntry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  properties:
                    projectId:
                      type: integer
                      description: |
                        Project Id in which entry is created
                    question:
                      type: string
                      nullable: true
                    answer:
                      type: object
                      properties:
                        text:
                          type: string
                          nullable: true
                        complianceAnswers:
                          description: |
                            Project Compliance Sets are unique per project. Use the
                            /projects/{projectId}/complianceSets API to retrieve a list
                            of available Compliance Sets.

                            The complianceSetId must match one of the Compliance Sets in the
                            given Project, and option must match one of the option labels in
                            the given Compliance Set.

                            Note: we are making terminology updates in Loopio - Compliance Sets shall be referred to as Answer Sets. The API will be updated to reflect this change at a later time.
                          type: array
                          items:
                            type: object
                            properties:
                              complianceSetId:
                                type: integer
                              option:
                                type: string
                                nullable: true
                            required:
                              - complianceSetId
                              - option
                      required:
                        - text
                  required:
                    - projectId
                    - question
                    - answer
                - oneOf:
                    - properties:
                        sectionId:
                          type: integer
                      required:
                        - sectionId
                    - properties:
                        subSectionId:
                          type: integer
                      required:
                        - subSectionId
      responses:
        '201':
          description: CREATED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entry'
        '400':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                name: VALIDATION_ERROR
                message: Invalid sectionId
                debug: 0fas5
        '403':
          $ref: '#/components/responses/403'
      security:
        - loopio_auth:
            - 'project:write'
  '/projectEntries/{projectEntryId}':
    parameters:
      - $ref: '#/components/parameters/ProjectEntryId'
      - $ref: '#/components/parameters/QueryParamInlineOptions'
    get:
      tags:
        - Projects
      summary: Retrieve a specific Project Entry
      description: 'Note: Confidential projects are currently not supported via API.'
      operationId: getProjectEntry
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entry'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - loopio_auth:
            - 'project:read'
    put:
      tags:
        - Projects
      summary: Update a specific Project Entry
      description: 'Note: Confidential projects are currently not supported via API.'
      operationId: updateProjectEntry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                question:
                  type: string
                  minLength: 1
                  nullable: true
                answer:
                  type: object
                  properties:
                    text:
                      type: string
                      minLength: 1
                      nullable: true
                    complianceAnswers:
                      $ref: '#/components/schemas/EntryComplianceAnswerCollection'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entry'
        '400':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                name: VALIDATION_ERROR
                message: Invalid sectionId
                debugId: 0fas5
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - loopio_auth:
            - 'project:write'
    delete:
      tags:
        - Projects
      summary: Delete a specific Project Entry
      description: 'Note: Confidential projects are currently not supported via API.'
      operationId: deleteProjectEntry
      responses:
        '204':
          $ref: '#/components/responses/204'
        '403':
          $ref: '#/components/responses/403'
      security:
        - loopio_auth:
            - 'project:write'
  /sections:
    get:
      parameters:
        - $ref: '#/components/parameters/RequiredProjectId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      tags:
        - Projects
      summary: List your Project sections
      description: 'Note: Confidential projects are currently not supported via API.'
      operationId: listProjectSections
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalItems:
                    type: integer
                    example: 100
                  totalPages:
                    type: integer
                    example: 10
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Section'
                required:
                  - totalItems
                  - totalPages
                  - items
        '400':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                name: VALIDATION_ERROR
                message: Invalid projectId
                debugId: 0fas5
        '403':
          $ref: '#/components/responses/403'
      security:
        - loopio_auth:
            - 'project:read'
    post:
      tags:
        - Projects
      summary: Create a new Project section
      description: |-
        Create a new Project section.

         Note: Confidential projects are currently not supported via API.
      operationId: createProjectSection
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                projectId:
                  type: integer
                name:
                  type: string
                  nullable: true
              required:
                - projectId
                - name
      responses:
        '201':
          description: CREATED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Section'
        '400':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                name: VALIDATION_ERROR
                message: Invalid projectId
                debugId: 0fas5
        '403':
          $ref: '#/components/responses/403'
      security:
        - loopio_auth:
            - 'project:write'
  '/sections/{sectionId}':
    get:
      parameters:
        - $ref: '#/components/parameters/SectionId'
      tags:
        - Projects
      summary: Retrieve a specific Project section
      description: 'Note: Confidential projects are currently not supported via API.'
      operationId: getProjectSection
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Section'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - loopio_auth:
            - 'project:read'
    put:
      parameters:
        - $ref: '#/components/parameters/SectionId'
      tags:
        - Projects
      summary: Update a specific Project section
      description: 'Note: Confidential projects are currently not supported via API.'
      operationId: updateProjectSection
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Section'
        '400':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                name: VALIDATION_ERROR
                message: 'Invalid name: Expected string or null'
                debugId: 0fas5
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - loopio_auth:
            - 'project:write'
    delete:
      parameters:
        - $ref: '#/components/parameters/SectionId'
      tags:
        - Projects
      summary: Delete a Project section and its content
      description: 'Note: Confidential projects are currently not supported via API.'
      operationId: deleteProjectSection
      responses:
        '204':
          $ref: '#/components/responses/204'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - loopio_auth:
            - 'project:write'
  /subSections:
    get:
      parameters:
        - $ref: '#/components/parameters/RequiredProjectId'
        - $ref: '#/components/parameters/QueryParamSectionId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      tags:
        - Projects
      summary: List your Project subSections
      description: 'Note: Confidential projects are currently not supported via API.'
      operationId: listProjectSubSections
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalItems:
                    type: integer
                    example: 100
                  totalPages:
                    type: integer
                    example: 10
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/SubSection'
                required:
                  - totalItems
                  - totalPages
                  - items
        '400':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                name: VALIDATION_ERROR
                message: The project does not exist or has been deleted
                debugId: 0fas5
        '403':
          $ref: '#/components/responses/403'
      security:
        - loopio_auth:
            - 'project:read'
    post:
      tags:
        - Projects
      summary: Create a new Project subSection
      description: |-
        Create a new Project subSection.

         Note: Confidential projects are currently not supported via API.
      operationId: createProjectSubSection
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sectionId:
                  type: integer
                name:
                  type: string
                  nullable: true
              required:
                - sectionId
                - name
      responses:
        '201':
          description: CREATED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubSection'
        '400':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                name: VALIDATION_ERROR
                message: Invalid sectionId
                debugId: 0fas5
        '403':
          $ref: '#/components/responses/403'
      security:
        - loopio_auth:
            - 'project:write'
  '/subSections/{subSectionId}':
    get:
      parameters:
        - $ref: '#/components/parameters/SubSectionId'
      tags:
        - Projects
      summary: Retrieve a specific Project subSection
      description: 'Note: Confidential projects are currently not supported via API.'
      operationId: getProjectSubQuestion
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubSection'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - loopio_auth:
            - 'project:read'
    put:
      parameters:
        - $ref: '#/components/parameters/SubSectionId'
      tags:
        - Projects
      summary: Update a specific Project subSection
      description: 'Note: Confidential projects are currently not supported via API.'
      operationId: updateProjectSubSection
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubSection'
        '400':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                name: VALIDATION_ERROR
                message: 'Invalid name: Expected string or null'
                debugId: 0fas5
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - loopio_auth:
            - 'project:write'
    delete:
      parameters:
        - $ref: '#/components/parameters/SubSectionId'
      tags:
        - Projects
      summary: Delete a Project subSection and its content
      description: 'Note: Confidential projects are currently not supported via API.'
      operationId: deleteProjectSubSection
      responses:
        '204':
          $ref: '#/components/responses/204'
        '403':
          $ref: '#/components/responses/403'
      security:
        - loopio_auth:
            - 'project:write'
  '/asyncTasks/{taskId}':
    parameters:
      - name: taskId
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - Asynchronous
      summary: Get the status of a queued async request
      operationId: getAsyncStatus
      responses:
        '200':
          description: Status of an async request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - PENDING
                      - FAILED
                      - COMPLETE
                  result:
                    oneOf:
                      - type: string
                      - type: object
                        properties:
                          entitiesId:
                            type: array
                            items:
                              type: integer
                          created:
                            type: array
                            items:
                              type: object
                              properties:
                                bulkIndex:
                                  type: integer
                                entityId:
                                  type: integer
                          failed:
                            type: array
                            items:
                              type: object
                              properties:
                                bulkIndex:
                                  type: integer
                                error:
                                  type: string
                required:
                  - status
              examples:
                Pending:
                  value:
                    status: PENDING
                Error:
                  value:
                    status: FAILED
                    result: A bear ate our server
                Bulk create Library Entries:
                  value:
                    status: COMPLETE
                    result:
                      entitiesId:
                        - 1
                        - 2
                        - 3
                      created:
                        - bulkIndex: 0
                          entityId: 1
                        - bulkIndex: 1
                          entityId: 2
                        - bulkIndex: 3
                          entityId: 2
                      failed:
                        - bulkIndex: 2
                          error: Invalid library Location
        '404':
          $ref: '#/components/responses/404'
  '/asyncTasks/{taskId}/projectTemplateCopy':
    parameters:
      - name: taskId
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - Asynchronous
        - Projects
      summary: Get the status of a create project from template async task
      operationId: getProjectTemplateCopyAsyncStatus
      responses:
        '200':
          description: Status of a create project from template async task
          content:
            application/json:
              schema:
                oneOf:
                  - title: Pending
                    type: object
                    properties:
                      status:
                        type: string
                        enum:
                          - PENDING
                    required:
                      - status
                  - title: Error
                    type: object
                    properties:
                      status:
                        type: string
                        enum:
                          - ERROR
                      result:
                        type: string
                    required:
                      - status
                      - result
                  - title: Success
                    type: object
                    properties:
                      status:
                        type: string
                        enum:
                          - COMPLETE
                      result:
                        $ref: '#/components/schemas/Project'
                    required:
                      - status
                      - result
        '404':
          $ref: '#/components/responses/404'
  /teams:
    get:
      parameters:
        - name: searchQuery
          in: query
          required: false
          schema:
            type: string
      tags:
        - Teams
      summary: List all teams
      operationId: listTeams
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Team'
        '403':
          $ref: '#/components/responses/403'
      security:
        - loopio_auth:
            - 'user:read'
  '/teams/{teamId}':
    parameters:
      - name: teamId
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - Teams
      summary: Get a team's data
      operationId: getTeam
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamUser'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - loopio_auth:
            - 'user:read'
  /identify/me:
    get:
      tags:
        - Users
      summary: Get a User's information from a JWT
      operationId: identifyUser
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentifyingUserData'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - loopio_auth:
            - 'user:read'
  /roles:
    get:
      tags:
        - Roles
      summary: List all user roles
      operationId: listRoles
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserRole'
        '403':
          $ref: '#/components/responses/403'
      security:
        - loopio_auth:
            - 'role:read'
  '/roles/{roleId}':
    parameters:
      - name: roleId
        in: path
        description: Role Id
        required: true
        schema:
          type: integer
    get:
      tags:
        - Roles
      summary: Get a user role
      operationId: getRole
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserRole'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - loopio_auth:
            - 'role:read'
  /users:
    get:
      parameters:
        - name: searchQuery
          in: query
          description: 'Term to search for a User''s first or last name, email or Team name.'
          schema:
            type: string
            example: Jane
        - name: types
          in: query
          description: 'The type of Users separated by  '',''.'
          schema:
            type: array
            items:
              type: string
              enum:
                - REGULAR
                - LIBRARY
                - API
                - PROJECT_CONTRIBUTOR
                - CONTENT_CONTRIBUTOR
                - POWER
                - LITE
                - GUEST
          style: form
          explode: false
        - name: sortBy
          in: query
          description: Sort by this field
          schema:
            type: string
            example: fullName
            enum:
              - id
              - fullName
              - lastLogin
        - name: sortDirection
          in: query
          description: Sort direction
          schema:
            type: string
            example: asc
            enum:
              - asc
              - desc
        - name: userStatus
          in: query
          description: Filter for these statuses
          schema:
            type: array
            items:
              type: string
              enum:
                - ENABLED
                - PENDING
                - DISABLED
                - LOCKED
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      tags:
        - Users
      summary: List Users
      operationId: listUsers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalItems:
                    type: integer
                    example: 100
                  totalPages:
                    type: integer
                    example: 10
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
                required:
                  - totalItems
                  - totalPages
                  - items
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - loopio_auth:
            - 'user:read'
    post:
      tags:
        - Users
      summary: Create a User
      operationId: createUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                firstName:
                  type: string
                lastName:
                  type: string
                email:
                  type: string
                  format: email
                roleId:
                  type: number
                teamIds:
                  type: array
                  items:
                    type: number
                welcomeMessage:
                  type: string
              required:
                - firstName
                - lastName
                - email
                - roleId
            example:
              firstName: User
              lastName: A
              email: user.a@example.com
              roleId: 100
              teamIds:
                - 1
                - 2
                - 3
              welcomeMessage: This is a welcome message
      responses:
        '201':
          description: CREATED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserWithRoleAndTeams'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
      security:
        - loopio_auth:
            - 'user:write'
  /users/bulk/disableByEmail:
    post:
      tags:
        - Users
      summary: Bulk disable Users by email
      description: |-
        This operation is atomic (either all Users will be successfully disabled or none will). Users are not able to disable themselves.

        To protect Customer privacy, emails that are not tied to a User will be ignored rather than treated as an input error.
      operationId: bulkUserDisableByEmail
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                emails:
                  type: array
                  items:
                    type: string
                    format: email
              required:
                - emails
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
      security:
        - loopio_auth:
            - 'user:write'
  '/users/{userId}':
    parameters:
      - name: userId
        in: path
        description: User Id
        required: true
        schema:
          type: integer
          example: 111
    get:
      tags:
        - Users
      summary: Get a User
      operationId: getUser
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - loopio_auth:
            - 'user:read'
    put:
      tags:
        - Users
      summary: Update a User
      operationId: updateUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                firstName:
                  type: string
                lastName:
                  type: string
                email:
                  type: string
                roleId:
                  type: integer
                teamIds:
                  description: If an empty array is provided the user will be removed from all teams they belong to
                  type: array
                  items:
                    type: integer
              required:
                - firstName
                - lastName
                - email
                - roleId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserWithRoleAndTeams'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - loopio_auth:
            - 'user:write'
  /webhookSubscriptions:
    get:
      tags:
        - Webhooks
      summary: List your event subscriptions (webhooks)
      operationId: listWebhookSubscriptions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WebhookSubscription'
        '403':
          $ref: '#/components/responses/403'
      security:
        - loopio_auth:
            - 'webhook:read'
    post:
      tags:
        - Webhooks
      summary: Create a new event subscription (new webhook)
      description: |-
[...]
